/* Reset some default browser styles */
body, h1, ul, li, a, h2, p, form, label, input[type="text"], button {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Shared header styles */
h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

/* Shared form styles */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #28a745;
}

button[type="button"]:hover {
    background-color: #218838;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional styles for specific sections */

/* Style the options list */
ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 200px;
    text-align: left;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li {
    margin-bottom: 15px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    border: 1px solid #007bff;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Style the agreement section */
#agreement-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
