/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #E6545B;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 100px; /* Set the desired width for the logo */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    margin-right: 10px;
}

#agreement-section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #E6545B;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #E6545B;
}
